*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/src/main/assets/model/am/final.mdl
app/src/main/assets/model/conf/mfcc.conf
app/src/main/assets/model/conf/model.conf
app/src/main/assets/model/graph/disambig_tid.int
app/src/main/assets/model/graph/Gr.fst
app/src/main/assets/model/graph/HCLr.fst
app/src/main/assets/model/graph/phones.txt
app/src/main/assets/model/graph/phones/word_boundary.int
app/src/main/assets/model/ivector/final.dubm
app/src/main/assets/model/ivector/final.ie
app/src/main/assets/model/ivector/final.mat
app/src/main/assets/model/ivector/global_cmvn.stats
app/src/main/assets/model/ivector/online_cmvn.conf
app/src/main/assets/model/ivector/splice.conf
